<div style="margin-top: 80px;">
    <!-- Empty wishlist -->
    <div class="my-3 d-flex justify-content-center align-items-center flex-column">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/confusing-woman-due-to-empty-cart-4558760-3780056.png"
            alt="">
        <h1 class="text-danger fw-bolder py-1">Your Wishlist is Empty</h1>
        <button class="btn btn-success" routerLink="">Add Items!</button>
    </div>
</div>
<!-- Wishlist -->
<div>
    <div class="container px-4 px-lg-5 mt-5">
        <h1 class="text-danger fw-bolder py-1">Your Wishlist</h1>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img routerLink="view/1" class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                        alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-evenly">
                            <button class="btn"><i class="fa-solid fa-heart fs-4 text-danger"></i></button>
                            <button class="btn"><i class="fa-solid fa-cart-shopping fs-4 text-success"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>