<div style="margin-top: 80px;">
    <!-- Empty Cart -->
    <div class="my-3 d-flex justify-content-center align-items-center flex-column">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/confusing-woman-due-to-empty-cart-4558760-3780056.png"
            alt="">
        <h1 class="py-1">Your Cart is Empty</h1>
        <button class="btn btn-success" routerLink="">Add Items!</button>
    </div>
</div>
<!-- Cart -->
<div>
    <div class="container px-4 px-lg-5 mt-5">
        <h1 class="py-1">Cart Summary</h1>
        <div class="row">
            <div class="col-lg-8">
                <table class="table shadow mt-3">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Product Name</th>
                            <th>Image</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th><button class="btn"><i class="fa-solid fa-ellipsis-vertical"></i></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Men shirt Premium</td>
                            <td>
                                <img width="100px" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="">
                            </td>
                            <td>
                                <div class="d-flex">
                                    <button class="btn fw-bolder">-</button>
                                    <input class="form-control text-center" id="inputQuantity" type="num" value="1"
                                        style="max-width: 3rem" readonly />
                                    <button class="btn fw-bolder">+</button>
                                </div>
                            </td>
                            <td>$000</td>
                            <td><i class="fa-solid fa-trash fs-4 text-danger"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                <div class="border p-2">
                    <h3>Sub-Total: <span class="text-success fw-bolder">$000</span></h3>
                    <hr>
                    <div class="d-grid">
                        <button class="btn btn-primary">Check Out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>